{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="post-title">
        <h1>{{post.title}}</h1>
    </div>
    <div class="post-author">
        <h2>{{post.author}}</h2>
    </div>
    <div class="post-content">
        <h4>{{post.content}}</h4>
    </div>
  {% for comment in comments %}
    <div class="card">
      <blockquote>
        {{ comment.content }}
      </blockquote>
      <span>{{ comment.added|timesince }} ago</span>
    </div>
  {% endfor %}

  <hr>

  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="add">
  </form>

{% endblock %}
