{% extends "base.html" %}
{% load bootstrap5 %}
{% load group_filters %}

{% block content %}
  <div class="group-index-list" style="height:100%">
  {% for group in groups %}
    <div class="group-index-card" style="display:flex; padding:24px;">
      <div>
        <img src="{{group.avatar.image.url}}" class="card-img-top" style="width:100px; height:100px;border-radius: 50%" alt="...">
      </div>
      <div class="card-body"style="display:flex; flex-direction: column; justify-content: space-around">
        <div class="fw-bold"><a href="{% url 'groups:group_detail' group.id %}">{{ group }}</a></div>
        <p class="card-text">{{group.description}}</p>
      </div>
      {% if group|can_join:request.user %}
        <div>
          <form method="post" action="{% url 'groups:send_group_join_request' %}" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="group_id" value="{{ group.id }}">
            <button type="submit" class="btn btn-primary">Join Group</button>
          </form>
        </div>
      {% endif %}
    </div>
  {% endfor %}



  <!-- Button trigger modal -->
<div style="padding:72px;display:flex;justify-content: flex-end">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create a New Group
  </button>
</div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Group Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="" id="group_create">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form_id="group_create">Create Group</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}