{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="group-title">
    {{group.title}}
  </div>
  <div class="group-heading">
    {{group.avatar}}
    {{group.description}}
  </div>
  <div class="group-members-posts">
    <div class="members">
      {% for member in members %}
      <p>
        {{member.avatar}}
      </p>
      <p><a>
        {{member.first_name}}{{member.last_name}}
      </a>
      </p>
      {% endfor %}
    </div>
    <div class="group-members">
      {% for post in posts %}
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p><a href="{% url 'groups:show_post' group.id post.id %}">{{post}}</a></p>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
      </ul>
      {% endfor %}
    </div>

    <div class="group-chat-link">
      <a class="btn btn-primary" href="{% url 'chat:group_chat_room' group.id %}">Chat here!</a></button>
    </div>
  </div>



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create a New Post
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Post Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="" id="group_create">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form_id="group_create">Create Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
