{% extends "base.html" %}
{% load bootstrap5 %}


{% block content %}
    <h2>Received Group Requests</h2>
    <div>
        {% for request in requests %}
        <p>{{ request.sender.username }} wants to join the group.</p>
        <a class="btn btn-primary" href="{% url 'groups:group_approve_join' request.id %}">Accept</a>
        <a class="btn btn-primary" href="{% url 'groups:group_reject_request' request.id %}">Reject</a>
        {% empty %}
        <p> No current requests!</p>
        {% endfor %}
    </div>
{% endblock %}
