{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
  <div class="background" style="height:100%; display:flex;justify-content: center; align-items: center;">
    <div class="user_index_container" style="display:flex; height:90%; width:90%; justify-content: center; background: #0dcaf0; padding:24px; overflow: scroll; flex-wrap: wrap; gap:12px; border-radius: 5px">
      {% for mentor in mentors %}
      <div class="card" style="width: 18rem; padding: 12px; display: flex; flex-direction: column; align-items: center">
        <div style="display: flex; justify-content: center">
          <div style="height: 180px; width: 180px; overflow:hidden">
            <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_kids_avatar_user_profile_icon_149314.png"  class="card-img-top" alt="..." style="height: 100%; width:auto; border-radius: 50%; border:2px solid grey">
            <!-- <img src="{{profile.user.avatar.image.url}}" class="card-img-top" alt="..."> -->
          </div>
        </div>
        <div class="card-body"></div>
        <div class="fw-bold"><a href="{% url 'account_management:view_profile' mentor.user.id %}">{{ mentor.user.username }}</a></div>
        <a href=""></a><p class="card-text">{{mentor.user.title}}</p></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
