{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
  <div class="group-index-list">
  {% for profile in profiles %}
    <div class="card" style="width: 18rem;">
      <img src="{{profile.user.avatar.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="fw-bold"><a href="{% url 'account_management:view_profile' profile.user.id %}">{{ profile.user.username }}</a></div>
        <p class="card-text">{{profile.user.title}}</p>
      </div>
      {% if profile != request.user %}
      {% if profile not in request.user.userprofile.friends.all %}
      <div>
        <form method="post" id="friend_request" action="{% url 'account_management:send_request' user_id=profile.user.id %}" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ profile.user.id }}">
          <button type="submit" class="btn btn-primary">Add Friend</button>
        </form>
      </div>
      {% endif %}
      {% endif %}
    </div>
  {% endfor %}
  </div>

{% endblock %}
